.highlights {
  margin: 32px 0;
  width: 100%;

  .share, .add-to-wishlist {
    font-size: 15px;
    font-weight: 600;
    line-height: 32px;
  }

  .comment-item {

    .author {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }

    .position {
      font-size: 15px;
      line-height: 21px;
      color: #636369;
    }

    .description {
      font-size: 16px;
      line-height: 24px;
    }
  }
}