@font-face {
  font-family: "SF-Pro-Display";
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf") format("otf");
  font-weight: 400;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../assets/fonts/SFProText-Regular.ttf") format("ttf");
  font-weight: 400;
}